<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  const PostDetailApp = { 
    delimiters: ['[[',']]'],
    data(){
      return {
        post: {},
        prevPost: {},
        nextPost: {},
        tagList: [],
        commentList: []
      }
    },

    created(){
      console.log("created()...");
      const postId = location.pathname.split('/')[3];
      this.fetchPostDeatail(postId);
      this.fetchCateTagList();
    },

    methods: {
      fetchPostDeatail(postId){
        console.log("fetchPostDeatail()...");

        axios.get(`/api/post/${postId}/`)
        .then(res => {
          console.log("FETCH POSTDETAIL GET RES", res);
          this.post = res.data.post;
          this.prevPost = res.data.prevPost;
          this.nextPost = res.data.nextPost;
          this.commnetList = res.data.commentList;
        })
        .catch(err => {
          console.log("FETCH POSTDETAIL GET ERR.RESPONSE", err.response);
          alert(`${err.response.status} ${err.response.statusText}`);
        });
      },

      fetchCateTagList(){
        console.log("fetchCatetagList()...");

        axios.get(`/api/catetag/`)
        .then(res => {
          console.log("FETCH CATE-TAG-LIST GET RES", res);
          this.cateList = res.data.cateList;
          this.tagList = res.data.tagList;
        })
        .catch(err => {
          console.log("FETCH  CATE-TAG-LIST GET ERR.RESPONSE", err.response);
          alert(`${err.response.status} ${err.response.statusText}`);
        });
      },

      serverpage(category='', tag=''){
        console.log("serverpage()...", category, tag);
        if(category && tag) alert('serverPage() both args Error: ${category} and ${tag}');
        else if(category) location.href = '/?category=${category}#portfolio';
        else if(tag) location.href = '/?tag=${tag}#portfolio';
        else location.href = '/#portfolio';
      },

      likeCount(postId){
        console.log("likeCount()...", postId);
        axios.get(`/api/like/${postId}`)
        .then(res => {
          console.log("LIKE-COUNT GET RES", res);
          this.post.like = res.data;

        })
        .catch(err => {
          console.log("LIKE-COUNT GET ERR.RESPONSE", err.response);
          alert(`${err.response.status} ${err.response.statusText}`);
        });
      }
    }
  }
  Vue.createApp(PostDetailApp).mount('#page-top')
</script>